.topnav {
            background-color: black;
            overflow: hidden;
}

.topnav a {
            float: left;
            display: block;
            color: yellow;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
}

  .topnav a:hover {
            background-color: white;
            color: black;
}

.topnav a.active {
            background-color: #A9A9A9;
            color: yellow;
}

.header {
            color: black;
            text-align: center;
            font-size: 50px;
}

body {
            background-color: yellow;
}

.heading {
            text-align: left;
            color: black;
}

.description {
            text-align: left;
            color: black;
            font-size: 18px
}

.trivia_game {
            padding-left: 200px;
            padding-right: 200px;
}

.question {
            text-align: left;
}

.option_1 {
            background-color: red;
            border-color: black;
            border-radius: 5px;
}

.option_2 {
            background-color: #3b90e1;
            border-color: black;
            border-radius: 5px;
}

.option_3 {
            background-color: yellow;
            border-color: black;
            border-radius: 5px;
}

.option_4 {
            background-color: gray;
            border-color: black;
            border-radius: 5px;
}

.answer {
            color: green;
}
            
